.task,
.taskName,
.tags {
  margin-bottom: 10px;
}

.task {
  background-color: #bbbbbb;
  border: 1px solid #aaaaaa;
  box-shadow: 1px 1px #999999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.tags {
  flex-wrap: wrap;
  gap: 5px;
}

.actions {
  height: 20px;
  gap: 10px;
  margin-bottom: 5px;
}

.arrow {
  height: 7px;
  width: 7px;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
}

.arrow.left {
  transform: rotate(-135deg);
}

.arrow.right {
  transform: rotate(45deg);
}

.remove {
  height: 0;
  width: 10px;
  border-top: 3px solid gray;
}
